.btn {
  background-color: $pink;
  color: $white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 20px 46px 18px 53px;

  &:focus,
  &:hover {
    background-color: $pink-dark;
  }

  &:active {
    opacity: 0.4;
  }
}
