// Colors
$white: #fff;
$black: #000;
$pink: #e84545;
$pink-dark: #b14646;
$blue: #1d213b;
$sapphire: #3a3e64;
$dark-blue: #313454;
$grey: #6c7279;
$grayish: #808080;

$body-min-width: 320px;

// Typography
$font-family-base: 'Raleway', sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;

// Media breakpoints
$lg-max-width: 1199.98px;
$md-max-width: 991.98px;
$sm-max-width: 767.98px;
$xs-max-width: 575.98px;
